body {
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.header_img {
   margin-top: -590px;
}

.header_img img {
    max-width: 100%;
}

#container {
    background-color: #fff;
    display: flex;
    height: 165px;
    position: relative;
    z-index: 100;
}

header {
    margin: auto;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}


 header .table .cell:nth-child(1) {
    padding-right: 200px;
}

#topmenu {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
}

#topmenu li {
    float: left;
    margin-left: 40px;
}



#topmenu li:nth-child(1) {
    background: url("/images/img_topmenu.png") no-repeat top 20% right ;
    padding-right: 15px;
    height: 50px;
    transition: all 0.3s;
}

#topmenu li:nth-child(1):hover {
    background: url("/images/active_topmenu.png") no-repeat top 20% right;
    padding-right: 15px;
}

#topmenu li:last-child {
    border: 1px solid #a8abab;
    border-radius: 50%;
    padding: 3px 5px 0px 5px;
    width: 25px;
    height: 35px;
    margin-top: -10px;
}

#topmenu li:last-child img {
    width: 25px;
    height: 35px;
}

#topmenu li a {
    color: #424551;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

#topmenu li a:hover {
    color: #26a5a5;
}

#topmenu .first_child:hover > #active_department {
    display: block;
}

#active_department {
    border-radius: 5px;
    background-color: #24a4a4;
    display: none;
    position: absolute;
    height: 155px;
    width: 145px;
    margin: 20px -35px 0;
    z-index: 0;
    padding: 20px 0 0;
    list-style: none;
}


#active_department li {
    float: none;
    margin: 0 0 10px;
    padding: 0;
}

#active_department li a {
    font-weight: bold;
    color: #fff;
    font-size: 100%;
}

#active_department .icon_position {
    position: absolute;
    margin: -28px 0 0 -8px;
    z-index: 100;
}

#active_department li a:hover {
    color: #fff;
}

#active_department  li:nth-child(1) {
    padding: 0;
    background: none;
    height: 15px;
}

#active_department  li:nth-child(1):hover {
    background: none;
    padding: 0;
}

#active_department li:last-child  {
    border: none;
    padding: 0;
    width: 140px;
    border-radius: 0;
    height: 0;
    margin: 0;
}


header .phone {
    margin-left: 40px;
    float: left;
}

header .phone  a{
    color: #24a4a4;
    text-decoration: none;
    font-size: 170%;
}

#search {
    background-color: #fff;
    width: 100%;
    height: 210px;
    position: fixed;
    opacity: 0;
    z-index: 200;
    transform: translate(0%, -100%);
    transition: all 0.5s;
}

#search .table {
    margin: auto;
}


#search form {
    padding-top: 40px;
}

#search form input[type="text"] {
    padding-left: 55px;
    outline: none;
    border: 1px solid #c4c4c4;
    width: 710px;
    height: 58px;
}

#search .search {
    background: url("/images/img_search.png") no-repeat center;
    margin-left: 1px;
    margin-top: 41px;
    position: absolute;
    border: none;
    height: 58px;
    width: 46px;
    cursor: pointer;
}

#search .close_search {
    cursor: pointer;
    margin-left: 40px; 
    margin-top: 55px
}

#show_search {
    cursor: pointer;
}

.hide_search {
    opacity: 0;
    transform: translate(0%, -100%);
}

.show_search {
    opacity: 1 !important;
    transform: translate(0%, 0%) !important;
}

#list_result {
    margin: 30px -8px;
    position: absolute;
    padding: 0;
    list-style: none;
}

#list_result li {
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 5px 10px;
    float: left;
}

#list_result li a {
    color:  #868686;
    text-decoration: none;
}

#main h1, #main h2 {
    margin-right: 650px;
}

#main h1 {
    color: #424551;
    font-size: 400%;
    margin-top: 70px;
   
}

#main h2 {
    color: #424551;
    font-size: 200%;
}


#main .text_header {
    position: relative;
    margin: auto;
}

#main .text_header .cell {
    text-align: left;
}

#functions {
    background-color: #24a4a4;
    padding-top: 100px;
    padding-bottom: 80px;
}

#functions h3 {
    color: #fff;
}

#functions p {
    font-size: 200%;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}

#functions .table {
    margin: 50px auto;
}

#functions h3 , #functions p {
    text-align: center;
}

#functions figcaption {
    margin-top: 20px;
    font-size: 110%;
    color: #fdfefe;
}

#functions figcaption b {
    color: #fff;
}

#research .table {
    margin: auto;
    padding-top: 140px;
}

 #research .bg {
    background-color: #fff;
}

#research .table .cell:nth-child(1) {
    width: 267px !important;
}

#research {
    background-color: #eeeeee;
    padding-bottom: 40px;
}

#research .position {
    padding-top: 80px;
}

#research .position1 {
    padding-top: 100px;
}

#research .position2 {
    padding-top: 70px;
}

#research .position3 {
    padding-top: 50px;
}

#research p {
    color: #000000;
    font-size: 120%;
    font-weight: bold;
}

#research h4 {
    color: #000;
    font-size: 250%;
    margin-top: -90px;
    position: absolute;
}

#Departments .table {
    float: right;
}

#Departments .table .cell {
    text-align: left;
}

#Departments .table .cell:nth-child(1) {
    padding-right: 50px;
}

#Departments h5 {
    font-weight: bold;
    font-size: 180%;
}

#Departments ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#Departments ul li {
    background: url("/images/Icons_27bul_B.png") no-repeat top left;
    padding-left: 40px;
}

#Departments ul li p {
    font-size: 120%;
    margin-bottom: 40px;
}

 .inime_gif {
    height: 40px;
    margin: auto;
    width: 40px;
    margin-top: -70px;
}

#position_items {
    display: flex;
}

#items  {   
    margin: 120px auto;
}

#items .left {
    margin: auto;
}

#main {
    position: relative;
}

#items .table .cell {
    text-align: left;
}

#items .bg {
    background-color: #d3eded;
    padding-left: 100px;
    width: 500px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#items .bg_doctor {
    position: absolute;
    background-color: #f16500;
    border-radius: 50%;
    height: 330px;
    width: 331px;
    margin: 26px 0px 0px 13px;
   
}


#items .bg_doctor img {
    margin: -29px 10px 10px 0px;
}

#items .bg_white {
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: -80px 10px 10px -165px;
   
}

#items .citat {
    position: relative;
    z-index: 100;
    margin: -77px -92px -1px 0px;
}

#items h6 {
    font-size: 110%;
    margin: 30px 0 0px;
}

#items p  {
    color: #000;
    font-size: 130%;
    margin: 5px 0;
}

#items .size {
    font-size: 100%;
}

#methods h3 {
    color: #000;
    text-align: center;
    font-size: 220%;
    margin-bottom: 80px;
}

#methods p {
    color: #fff;
    margin: 20px 0 0 40px;
    font-size: 120%;
}

#methods .table {
    margin: auto;
}

#methods .table .cell {
    height: 278px;
    width: 370px;
    text-align: left;
    padding: 10px
}

#methods .table .content1 {
    background: url("/images/m_image1.jpg") no-repeat center;
    border-radius: 25px;
}

#methods .table .content2 {
    background: url("/images/m_image1.jpg") no-repeat center;
    border-radius: 25px;
}

#methods .table .content3 {
    background: url("/images/m_image3.jpg") no-repeat center;
    border-radius: 25px;
}

#methods .table .content4 {
    background: url("/images/m_image3.jpg") no-repeat center;
    border-radius: 25px;
}
#methods .table .content5 {
    background: url("/images/m_image4.jpg") no-repeat center;
    border-radius: 25px;
}

#methods .table .content6 {
    background: url("/images/m_image1.jpg") no-repeat center;
    border-radius: 25px;
}

#methods .shadow {
    background: rgba(52, 97, 91, 0.5);
    border-radius: 25px;
    padding-top: 20px;
    height: 260px;
}

#methods .shadow:hover {
    background: rgba(16, 36, 33, 0.5);
}


#list_departments {
    background-color: #e8f6f6;
    margin-top: -10px;
}

#list_departments .table {
    margin: auto;
}

#list_departments .table .cell {
    text-align: left;
    padding: 0 10px;
    width: 260px;
}

#list_departments figure {
    margin: 0;
}

#list_departments .m_none {
    margin-left: 0;
}

#list_departments h3 {
    font-size: 250%;
    margin-left: 40px;
}

#list_departments figcaption {
    color: #24a4a4;
    font-weight: bold;
    margin-top: 10px;
    font-size: 150%;
}

#list_departments p {
    color: #7a7a7a;
}

#postgraduate {
    display: none;
}

#students h5 {
    color: #000;
    font-size: 120%;
    margin-bottom: 10px;
}

#students h6 {
    color: #24a4a7;
    font-size: 90%;
    margin: 10px 0;
}

#students a {
    display: block;
    border: 1px solid #24a6a0;
    color: #33aca6;
    width: 200px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    border-radius: 10px;
    margin: auto;
}

#students a:hover {
    border-radius: 5px;
}

#students .table {
    margin: 60px auto;
}

#students .table .cell {
    text-align: left;
    padding: 0 10px;
}

#students h4 {
    color: #000;
    font-size: 200%;
    text-align: center;
}

#students ul {
    margin: 0 0 0 20px;
    padding: 0;
    color: #7a7a7a;
}

#students ul li {
    margin: 0;
}

#students ul li p {
    margin: 5px 0;
}

#students p {
    color: #7a7a7a;
    font-size: 90%;
}

.show_student {
    display: block !important;
}

#school {
    background-color: #e8f6f6;
    display: inline-block;
    width: 100%;
}

#school .table {
    margin-top: 60px;
    float: left;
}

#school .table .cell {
    padding: 0 20px;
    text-align: left;
}

#school .table .cell:nth-child(1) {
    padding-left: 0;
}

#school h5 {
    font-size: 150%;
    margin: 60px 0 20px;
}

#school h6 {
    color: #04a6a0;
    font-size: 120%;
    margin: 0;
}

#school p {
    font-size: 110%;
    margin: 5px 0 ;
}

#school .text2 {
    margin-bottom: 20px;
}

#school .text {
    font-size: 130%;
    margin-bottom: 40px;
}

#news ul li p {
    color: #2aa9a3;
    font-size: 90%;
}

#news {
    background-color: #e8f6f6;
    padding-top: 240px;
    margin-top: -5px;
}

#news h2 {
    position: absolute;
    color: #000;
    margin-top: -150px;
    font-size: 250%;
    margin-left: 20px;
}

#news .table {
    margin: 0 auto;
}

#news .table .cell {
    text-align: center;
    width: 361px;
    vertical-align: top;
    padding: 0 20px;
}

#news ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#news ul li {
    float: left;
    margin-right: 15px;
}

#news figure {
    margin: 0;
}

#news p {
    color: #171818;
    text-align: left;
}

#news figcaption {
    font-weight: bold;
    color: #000;
    text-align: left;
    margin: 5px 0px 20px;
    font-size: 120%;
}

#news .news {
    position: absolute;
    padding: 0;
    margin: -60px 0 0 20px;
    list-style: none;
}

#news .news li {
    margin-left: 20px;
}

#news .news li:first-child {
    margin-left: 0;
}

#news .news li a {
    text-decoration: none;
    font-size: 120%;
    color: #5da6a5;
}

#news .get_buttons, #practice .get_buttons {
    margin-top: 30px;
}

#news .get_buttons .table, #practice .get_buttons .table {
    width: 512px;
}

#practice .get_buttons .table {
    width: 545px;
}

#practice .get_buttons .table .cell {
    padding: 0;
}

#news .get_buttons .table .cell {
    padding: 0;
    text-align: center;
}

#news button, #practice button {
    padding: 20px 40px;
    text-align: center;
    border: 1px solid #24a4a4;
    border-radius: 10px;
    font-size: 120%;
    color: #5da6a8;
    cursor: pointer;
    transition: all 0.3s;
}

#practice {
    background-color: #e8f6f6;
    padding-top: 240px;
    margin-top: -5px;
}

#practice .table {
    margin: auto;
}

#practice .table .cell {
    text-align: center;
    width: 361px;
    vertical-align: top;
    padding: 0 20px;
}

#practice ul {
    margin: 0px 0px 0px -12px;
    padding: 0;
    list-style: none;
}

#practice ul li {
    float: left;
    margin-left: 15px;
}

#practice ul li p {
    color: #2aa9a3;
    font-size: 90%;
}

#practice p {
    color: #171818;
    text-align: left;
}

#practice figcaption {
    font-weight: bold;
    color: #000;
    text-align: left;
    margin: 5px 0px 20px;
    font-size: 120%;
}

#practice figure {
    margin: 0;
}

#practice .practice li {
    margin-left: 20px;
    
}

#practice .practice li a {
    text-decoration: none;
    font-size: 120%;
    color: #5da6a5;
}

#practice .practice li:first-child {
    margin-left: 0;
}

#practice .practice {
    position: absolute;
    padding: 0;
    margin: -60px 0 0 20px;
    list-style: none;
}

#practice h2 {
    position: absolute;
    color: #000;
    margin-top: -150px;
    font-size: 250%;
    margin-left: 20px;
}

footer {
    background-color: #24a6a0;
    padding-top: 40px;
    margin-top: 70px;
    padding-left: 10px;
    height: 465px;
    padding-right: 10px;
}

footer .table {
    margin: auto;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer h5 {
    color: #a7dbd9;
    font-size: 100%;
    margin: 0 0 10px;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 90%;
}

footer ul li p {
    color: #fff;
}


footer .size {
    color: #addedc !important;
    position: absolute;
    font-size: 80% !important;
    margin-left: -98px;
}

footer .content {
    margin-top: 90px;
}

footer .content .cell {
    text-align: left;
    padding: 0 20px;
}

footer .content .cell:nth-child(1) {
    padding-left: 0;
}

footer .top_content p {
    color: #fff;
    font-size: 110%;
}

footer .top_content .cell:nth-child(1) {
    padding: 0 !important;
}

footer .top_content .cell:nth-child(2) {
    padding-left: 15px;
}

footer .text {
    margin-left: 10px;
}

footer .top_content .cell {
    text-align: left;
    padding: 0 40px;
}

footer form input[type="email"] {
    padding-left: 10px;
    outline: none;
    border: none;
    float: left;
    width: 297px;
    height: 40px;
}

footer form button {
    background-color: #24a6a0;
    border: none;
    margin: 0px 0px 0px -55px;
    position: relative;
    z-index: 100;
    width: 55px;
    color: #fff;
    height: 43px;
}

footer .bg_form {
    background-color: #bee4e3;
    padding: 40px;
}

footer .bg_form h4 {
    font-size: 120%;
    margin: 0 0 20px;
}

footer .bg_form p {
    color: #6e7a79;
    font-size: 80%;
}

.kyivsriters {
    text-align: left;
    margin-left: 210px;
    padding-bottom: 20px;
}

.kyivsriters a {
    color: #fff;
    text-decoration: none;
}

#menu {
    transform: translate( -100%, 0%);
    background: rgba(14, 66, 66, 0.3);
    transition: all 0.3s;
    opacity: 0;
    position: fixed;
    z-index: 300;
    height: 100%;
    width: 100%;
}

.slider-2 {
    display: none;
}

#andriykopchak h1 {
    font-size: 300%;
}

#andriykopchak .text1 {
    color: #424551;
    margin-left: 20px;
    font-size: 110%;
}

#andriykopchak .table {
    margin: auto;
}

#andriykopchak .table .cell {
    text-align: left;
}

#andriykopchak .active_items:hover {
    background-color: #d96004;
}

#andriykopchak .active_items {
    display: block;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
    margin-top: 70px;
    font-size: 120%;
    width: 290px;
    height: 44px;
    background-color: #f16500;
}

#andriykopchak h3 {
    color: #2da8a8;
    font-size: 130%;
}

#Sphere {
    margin-top: -520px;
    margin-right: 200px;
}

#andriykopchak .doc1 img {
    margin: -29px 10px 10px -1px;
}

#andriykopchak ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#andriykopchak ul li {
    margin-bottom: 20px;
}


#andriykopchak ul li p {
    color: #474747;
    margin: 0;
}

#andriykopchak .doc1 .cell:nth-child(1) {
    padding-right: 240px;
}

#andriykopchak .doc1 .cell:nth-child(3) {
    vertical-align: bottom;
    background-color: #24a4a4;
    height: 1000px;
    padding: 0 20px;
    margin: 0px 0px 0px 179px;
}

#andriykopchak .bg_doc1 {
    position: absolute;
    background-color: #f16500;
    border-radius: 50%;
    z-index: 200;
    height: 330px;
    width: 331px;
    margin: 24px 0px 0px -268px;
}

/* #andriykopchak .bg1 {
    background-color: #24a4a4;
    height: 100%;
    padding: 0 20px;
    position: fixed;
    margin: 0px 0px 0px 179px;
} */

#andriykopchak .bg1 p {
    color: #fff;
    font-size: 120%;
    font-weight: bold;
}


#andriykopchak .content9 li {
    background: url("/images/Tilda_Icons_27bul_B.png") no-repeat top left;
    padding-left: 35px;
}

#andriykopchak .top_content1 {
    margin: 0;
}
#andriykopchak .top_content1 .cell:nth-child(1) {
    vertical-align: top;
}


#andriykopchak .col {
    color: #24a4a4;
    font-weight: bold;
    margin-top: -5px;
}

#andriykopchak .top_content1 .cell:nth-child(2) {
    vertical-align: bottom;
}

.open_info {
    display: flex;
    margin-top: 70px;
}

.open_info a {
    color: #24a4a4;
    border: 1px solid #24a4a4;
    margin: auto;
    border-radius: 10px ;
    text-decoration: none;
    padding: 20px 40px;

}

#open_info {
    display: none;
}

.show_open_info {
    display: block !important;
}

.open_info a:hover {
    color: #158585;
}

#andriykopchak .orden li {
    float: left;
    margin-left: 40px;
}

 #icon_scroll  {
    margin: -328px 10px 10px 10px;
    float: right;
    
}


#position_icon_footer {
    position: relative;
}

.anim-items {
    transform: translate(0%, -120%);
   transition: all 0.8s; 
   opacity: 0;
}

.active {
    transform: translate(0%, 0%);
    opacity: 1;
}

@media (max-width: 950px) {
    footer {
        height: 500px;
    }
}

@media (max-width: 621px) {
    #andriykopchak .bg_doc1 {
        height: 270px;
        width: 280px;
        margin: -32px 0 0 -334px;
    }

    #andriykopchak .doc1 img {
        margin: 12px 0px 0px 18px;
    }

    #andriykopchak .doc1 img {
        width: 240px;
    }

    footer {
        height: 550px !important;
    }
}

@media (max-width: 740px) {
    footer .content .cell {
        display: block;
        float: left;
    }

    


    footer p {
        padding-right: 10px;
        font-size: 9px !important;
    }

    footer .bg_form {
        padding-right: 0 !important;
    } 

    footer .top_content .cell {
        padding: 0;
    }

    #andriykopchak .doc1 .cell:nth-child(3) {
        display: none;
    }

    #Sphere {
        margin-top: 0;
    }

    #andriykopchak h1 {
        font-size: 200%;
    }

    #andriykopchak .text1 {
        font-size: 100%;
    }

    #andriykopchak .bg_doc1 {
        margin: -40px 0px 0px -334px;
    }
    
}

@media (max-width: 460px) {

    footer .bg_form {
        margin-top: -415px;
        margin-left: 50px;
        padding-right: 10px !important;
    }

    footer .bg_form h4 {
        font-size: 90%;
    }

    footer form input[type="email"] {
        width: 150px;
    }

    footer .content {
        margin-top: 130px !important;
    }
}
@media (max-width: 1350px) {

    #Departments  {
        display: flex;
    }

    #Departments .table .cell {
        display: block;
        padding: 0;
    }

    #Departments .table {
        margin: auto;

    }

    #Departments .table .cell:nth-child(2) img {
       width: 700px;
       margin: 0 10px;
    }

    #Departments ul {
        margin: auto;
        padding-left: 70px;
        width: 500px;
    }

    #Departments h5 {
        text-align: center;
    }
} 

@media (max-width: 1255px) {
    header .table .cell:nth-child(1) {
        padding-right: 100px;
    }
    #topmenu li {
        margin-left: 20px;
    }

    .top_logo {
        width: 350px;
    }
}

@media (max-width: 1135px) {
    #research .cell {
        display: block;
        float: left;
        height: 200px;
    }

    #research .table .cell:nth-child(1) {
        height: 200px;
    }

    #research .mob {
        clear: both;
    }

    #research .position1 {
        float: right;
        margin-top: -5px;
    }

    #research .position2 {
        float: left;
        margin-top: -29px;
    }

    #research .position3 {
        height: 229px !important;
    }

    #research h4 {
        text-align: center;
        position: static;
    }

    #research  .pos1 {
        float: right;
    }

    #research  .pos1 img{
        height: 268px;
        margin-top: -28px;
    }

    #research img {
        width: 268px;
    }

    #research .row {
        height: 200px;
    }

    #research .position1, #research .position2, #research .position3  {
        height: 200px;
        width: 268px
    }
}

@media (max-width: 1215px) {
    #main h1 {
        font-size: 250%;
        margin-bottom: 40px !important;
    }

    #main h2 {
        font-size: 200%;
    }

   

    #main h1, #main h2 {
        margin: 0;
    }

    .header_img {
        margin-top: -300px;
    }
}


@media (max-width: 1008px) {
    #school {
        display: flex;
    }
    #school .table {
        margin: 70px auto;
    }
    #school .table .cell {
        display: block;
    }
}

@media (max-width: 1150px) {
    #list_departments .table .cell {
        display: block;
        
    }
}

@media (max-width: 940px)  {
    #items .bg {
        width: 400px;
    }
}

@media (max-width: 840px) {
    #items .bg_doctor {
        height: 247px;
        width: 254px;
    }

    #items .bg_doctor img {
        width: 250px;
        margin: -24px 10px 10px 0px;
    }
    #items .bg_white {
        height: 289px;
        width: 287px;
    }
}

@media (max-width: 750px) {
    #items .bg_white {
        margin:  -191px 10px 10px -285px;
    }

    #items .bg {
        padding-left: 20px;
        padding-top: 80px;
    }
    #position_items {
        margin-top: 200px;
    }

    #school img {
        max-width: 100%;
    }


    #school .table .cell {
        padding: 0;
    }

}

@media (max-width: 930px) {

    header .table .cell {
        display: block;
    }

    header .table .cell:nth-child(1) {
        padding: 0;
    }

    .top_logo {
        margin: auto;
    }

    #active_department {
        display: none;
    }


    .show_burde_menu {
        transform: translate( 0%, 0%) !important;
        opacity: 1 !important;
    }

    .hide_burde_menu {
        transform: translate( -100%, 0%) !important;
    }   
    
    .hide_span {
        opacity: 0 !important;
    }

    #menu .close_menu {
        float: right;
        margin: 12px 16px 0px -36px;
        cursor: pointer;
        position: relative;
    }

    #menu ul {
        background-color: #fff;
        width: 300px;
        height: 100%;
        margin: 0;
        float: right;
        padding: 40px 0 0 40px;
        list-style: none;
    }

    #menu ul li {
        margin-bottom: 20px;
    }

    #menu ul li a {
        color: #158585;
        font-size: 150%;
        text-decoration: none;
    }

    #menu ul li a:hover {
        color: #f16500;
        text-decoration: underline;
    }

    #burger {
        float: right;
        background-color: #158585;
        position: fixed;
        width: 55px;
        height: 55px;
    }

    #topmenu {
        display: none;
    }    

    header .phone {
        display: none;
    }

    #burger_menu {
        cursor: pointer;
        margin: 17px 94px 0 0px;
        opacity: 1;
    }


    #burger span:first-child {
        margin-top: 17px;
    }

    #burger span {
        background-color: #fff;
        display: block;
        width: 30px;
        height: 2px;
        margin: auto;
        margin-bottom: 5px;
        
    }
    #search {
        transition: all 0.7s;
    }

    #search form input[type="text"] {
        width: 400px;
    }

    #functions .table .cell {
        display: block;
        padding-bottom: 40px;
    }

    #functions p {
        font-size: 150%;
    }

    
}

@media (max-width: 1255px) {
    #Departments .table .cell:nth-child(2) img {
        max-width: 100%;
    }
}

@media (max-width: 980px) {
    #methods {
        display: none;
    }

    .slider-2 {
        display: block;
    }

    .methods .content1 {
        background: url("/images/m_image1.jpg") no-repeat center;
        width: 370px;
        border-radius: 5px;
        margin-top: -20px;
        height: 320px;
    }

    .methods .content2 {
        background: url("/images/m_image1.jpg") no-repeat center;
        width: 370px;
        height: 320px;
        margin-top: -20px;
    }

    .methods .content3 {
        background: url("/images/m_image3.jpg") no-repeat center;
        width: 370px;
        height: 320px;
        margin-top: -20px;
    }

    .methods .content4 {
        background: url("/images/m_image3.jpg") no-repeat center;
        width: 370px;
        height: 320px;
        margin-top: -20px;
    }

    .methods .content5 {
        background: url("/images/m_image3.jpg") no-repeat center;
        width: 370px;
        height: 320px;
        margin-top: -20px;
    }

    .methods .content6 {
        background: url("/images/m_image4.jpg") no-repeat center;
        width: 370px;
        height: 320px;
        margin-top: -20px;
    }

    .swiper {
        padding: 0 10px !important;
    }
    .methods p {
        color: #fff;
        font-size: 100%;
        margin: 0;
       padding-top: 40px;
       padding-left: 20px;
    }

    .methods .shadow {
        background: rgba(52, 97, 91, 0.5);
        border-radius: 5px;
        width: 370px;
        height: 300px;
        padding: 0;
    }
}

@media (max-width: 630px) {
    #Departments .table .cell:nth-child(2) img {
        width: 300px;
    }

    #Departments ul {
        width: 350px;
    }

    #Departments .size {
        width: 300px;
        margin: auto;
    }
}

@media (max-width: 630px) {
    #main h1 {
        font-size: 200%;
        margin-bottom: 30px !important;
    }

    #main h2 {
        font-size: 150%;
    }

    .header_img {
        margin-top: -200px;
    }

    #Departments .table .cell:nth-child(2) img {
      
        margin: 0;
    }

    #Departments .table .cell:nth-child(2) {
        text-align: center;
    }

    #Departments ul {
        padding-left: 30px;
    }
    
}

@media (max-width: 590px) {
    #Departments ul li p {
        font-size: 100%;
    }

    #Departments h5 {
        font-size: 140%;
    }
}

@media (max-width: 570px) {
    #research .celll {
        display: block;
        float: none;
    }
}



@media (max-width: 560px) {
    #search form input[type="text"] {
        width: 300px;
    }
    #search .close_search {
        margin-left: 10px;
    }
}

@media (max-width: 500px) {
    .top_logo {
        width: 250px;
    }
}

@media (max-width: 550px) {
    #items .bg_doctor {
        height: 247px;
        width: 254px;
    }

    #items .bg_doctor img {
        width: 250px;
        margin: -24px 10px 10px 0px;
    }
    #items .bg_white {
        height: 289px;
        width: 287px;
    }

    #items .bg {
        width: 320px;
    }

    #items p {
        font-size: 100%;
    }

    #items .bg_white {
        margin: -229px 10px 10px -285px;
    }

    #position_items {
        margin-top: 200px;
    }

    #research .table .cell:nth-child(1) {
        width: 200px;
    }
    #research img {
        width: 200px;
    }

    #research p {
        font-size: 100% !important;
    }

    #research .table .cell:nth-child(1) {
        width: 200px;
    }

    #research .position1, #research .position2, #research .position3 {
        width: 200px;
    }

    #research .table .cell:nth-child(1) {
        width: 200px !important;
    }
    #research .position3 {
        height: 198px !important;
        padding-top: 10px;
    }
}

@media (max-width: 734px) {
    .practice {
        margin: -60px 0 0 -80px;
    }

    #practice .practice li a {
        font-size: 100%;
    }
} 

@media (max-width: 1220px) {
    #practice .table .cell {
        display: block;
    }

    #practice h2 {
        margin-top: -150px;
    }

    #practice .get_buttons .table .cell {
        padding: 20px 0;
    }
}

@media (max-width: 1100px) {
    #news .table .cell {
        display: block ;
        padding: 0;
    }

    #list_departments .table .cell {
        padding: 0;
    }


    #news h2 {
        margin-top: -150px;
        margin-left: 20px;
    }

    #news .news li a {
        font-size: 100%;
    }

    #news .news {
        margin: -60px 0 0 -120px;
    }

    #news ul li {
        margin-left: 5px !important;
    }

    #news .get_buttons .table .cell {
        padding: 20px 0 !important;
    } 
}

@media (max-width: 630px) {
    #news .news {
        margin: -60px 0 0 -80px !important;
    }
    #news .news li a {
        font-size: 85%;
    }
       
    
}

@media (max-width: 820px) {
    .shadow {
        margin: auto;
        width: 370px !important;
    }
}

@media (max-width: 470px) {
    #items  .citat img {
        width: 150px;
    }

    #items .bg_white {
        height: 289px;
        width: 287px;
        margin: -229px 10px 10px -285px;
    }


    #items .bg {
        width: 220px;
    }
    #items .bg_doctor {
        height: 194px;
        width: 200px;
    }
    #items .bg_white {
        height: 227px;
        width: 228px;
        margin: -194px 10px 10px -211px; 
    }

    #items .bg_doctor img {
        width: 200px;
    }

    #items .citat {
        margin: -42px -92px -1px 0px;
    }
}

@media (max-width: 420px) {
    #main h1 {
        font-size: 150%;
        margin-bottom: 15px !important;
    }

    #main h2 {
        font-size: 120%;
    }

    .header_img {
        margin-top: -150px;
    }

    #research .pos1 {
        float: none;
    }

    #research .position1 {
        float: none;
    }
        #research .cell {
            margin-left: 80px;
        }
        #search form input[type="text"] {
            width: 200px;
        }

}
@media (max-width: 570px) {
    #functions p {
        font-size: 120%;
    }
}

@media (max-width: 461px) {
    footer {
        height: 640px !important;
    }
    footer .none {
        margin-left: 30px;
        margin-top: -58px;
    }

    footer .content {
        margin-top: 195px !important;
    }

    footer .uni {
        width: 150px;
    }
}


@media (max-width: 690px) {
    #andriykopchak ul,  #andriykopchak h3  {
        margin-left: 10px;
    }

    #andriykopchak h1 {
        margin-left: 10px;
    }

    #andriykopchak .table {
        margin: 0;
    }
} 

@media (max-width: 520px) {
    footer {
        height: 569px px !important;
    }
}

@media (max-width: 848px) {

    footer .bg_form {
        padding: 10px;
    }


    footer form input[type="email"] {
        width: 200px;
    }

    footer .bg_form p {
        font-size: 70%;
    }

    footer .content .cell {
        padding: 0 5px;
    }


    
}

@media (max-width: 501px) {
    #andriykopchak .bg_doc1 {
        margin: -52px 0px 0px -388px;
        height: 232px;
        width: 239px;
    }

    #andriykopchak .doc1 img {
        width: 200px;
        margin: 17px 0px 0px 18px;
    }

    #andriykopchak h1 {
        font-size: 150%;
    }

    #andriykopchak .text1 {
        font-size: 90%;
        margin-left: 10px;
    }
}

